{% extends "samples/dormBase.html" %}
{% block title %}
    <title>Manage Guests</title>
{% endblock %}

{% block topleftContent %}
         <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
<!--
		<li class="nav-item">
				 <p class="set-size">
  <button class="btn btn-primary " type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    Functions
  </button>
</p>
			<div class="collapse set-size" id="collapseExample">
  <nav class="nav flex-column set-size">
  <a class="nav-link active" href="#">Active</a>
  <a class="nav-link" href="#">Link</a>
  <a class="nav-link" href="#">Link</a>
  <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
</nav>
</div>
		</li>
-->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Username
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </li>
{% endblock %}

{% block search %}
    <form class="form-inline my-2 my-lg-0">
      <div class="input-group icon-margin">
  <input type="text" class="form-control" aria-label="Text input with segmented dropdown button" name="search_gue">
  <div class="input-group-append">

    <select class="custom-select selet-size" id="inputGroupSelect02">
    <option selected value="all">All</option>
    <option value="gue_name">Name</option>
    <option value="phone">Phone</option>
    <option value="stu_number">Student Number</option>
	<option value="has_left">Has Left</option>
    <option value="has_not_left">Has not Left</option>
  </select>
  </div>
</div>
          <button type="button" class="btn btn-outline-success my-2 my-sm-0 icon-margin" id="search2"><i class="bi bi-search"></i>search</button>
    </form>
{% endblock %}

{% block add %}
 <button type="button" class="btn btn-dark btn-margin" data-toggle="modal" data-target="#exampleModaladd" data-whatever="@mdo"><i class="bi bi-plus-circle"></i></button>

<div class="modal fade" id="exampleModaladd" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Guest</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        </button>
      </div>
      <div class="modal-body">
        <form id="myFormAdd" action="{{ url_for('dormAdmin.add_gue') }}" method="post">
          <div class="form-group">
                <label for="recipient-name" class="col-form-label" aria-label="Amount (to the nearest dollar)">Guest Name:<span style="color: red">*</span></label>
            <input type="text" class="form-control" name="gue_name" id="gue_name">
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label">Phone:<span style="color: red">*</span></label>
             <input type="text" class="form-control" name="phone" id="gue_phone" aria-label="Amount (to the nearest dollar)"><span></span>
          </div>
			<div class="form-group">
            <label for="message-text" class="col-form-label">Student Number:<span style="color: red">*</span></label>
             <input type="text" class="form-control" name="stu_number" id="gue_stu_id"><span></span>
          </div>
            <div class="form-group">
            <label for="message-text" class="col-form-label">Note:</label>
             <input type="text" class="form-control" name="note" ><span></span>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary"   id="sendMessage"
{#                {% if isSuccessful==True %}#}
{#         data-toggle="modal" data-target="#alert"#}
{#        {% endif %}#}
        >Confirm</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block mainContent %}
    <div class="tab-content" id="v-pills-tabContent">
      <table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">Guest Name</th>
      <th scope="col">Guest Phone</th>
      <th scope="col">Student ID</th>
	  <th scope="col">Note</th>
        <th scope="col">Arrived Time</th>
		<th scope="col">Left Time</th>
      <th scope="col">Execution</th>

    </tr>
  </thead>
  <tbody>
  {% for guest in pagination.items %}
        <tr>
            <th scope="row">{{ guest.gue_name}}</th>
            <td>{{ guest.phone }}</td>
            <td>{{ guest.student.stu_number}}</td>
            <td>{{ guest.note }}</td>
            <td>{{ guest.arrive_time.strftime("%Y-%m-%d %H:%M:%S") }}</td>
            {% if guest.has_left %}
            <td>{{ guest.leave_time.strftime("%Y-%m-%d %H:%M:%S") }}</td>
            {% else %}
            <td>Has not left</td>
            {% endif %}
                  <td><div class="btn-group" role="group" aria-label="Basic example">
  <button type="button" class="btn btn-secondary" onclick="location.href='{{ url_for('dormAdmin.delete_gue') }}?id={{ guest.id }}&enterType={{ enterType }}&content={{ content }}&tag={{ tag }}&page={{ pagination.page }}'"><em class="bi bi-x-square icon-margin"></em>delete</button>
  <button type="button" {% if guest.has_left == true %}
  class="btn btn-secondary disabled"
  {% else %}
  class="btn btn-secondary"
  {% endif %} onclick="location.href='{{ url_for('dormAdmin.leave_gue') }}?id={{ guest.id }}&enterType={{ enterType }}&content={{ content }}&tag={{ tag }}&page={{ pagination.page }}'"><i class="bi bi-x-square icon-margin"></i>Leave</button>
  <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal{{ guest.id }}" data-whatever="@mdo"><i class="bi bi-pencil icon-margin"></i>modify</button>
    <div class="modal fade" id="exampleModal{{ guest.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modified Information {{ guest.gue_name }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="myFormModify{{ guest.id }}" action="{{ url_for('dormAdmin.update_gue') }}?id={{ guest.id }}&enterType={{ enterType }}&content={{ content }}&tag={{ tag }}&page={{ pagination.page }}" method="post">
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Guest Name:</label>
            <input type="text" class="form-control" name="gue_name" placeholder="{{ guest.gue_name }}" ><span></span>
          </div>
          <div class="form-group">
             <label for="message-text" class="col-form-label">Guest Phone:</label>
             <input type="text" class="form-control" name="phone" placeholder="{{ guest.phone }}" id="name">
          </div>
			<div class="form-group">
            <label for="message-text" class="col-form-label">Student Number:</label>
             <input type="text" class="form-control" name="stu_number" placeholder="{{ guest.student.stu_number }}" id="gue_stu_id{{ guest.id }}"><span></span>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="sendMessagemodify{{ guest.id }}">Confirm</button>
      </div>
    </div>
  </div>
</div>
        </div></td>
        </tr>
  {% endfor %}
<div class="modal fade" id="alert" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
{#    <tr>#}
{#      <th scope="row">1</th>#}
{#      <td>Mark</td>#}
{#      <td>Otto</td>#}
{#		<td>ucd@</td>#}
{#        <td><div class="custom-control custom-checkbox">#}
{#  <input type="checkbox" class="custom-control-input" id="customCheck1">#}
{#  <label class="custom-control-label" for="customCheck1"></label>#}
{#</div></td>#}
{#      <td><div class="btn-group" role="group" aria-label="Basic example">#}
{#  <button type="button" class="btn btn-secondary" id="delete"><em class="bi bi-x-square icon-margin"></em>delete</button>#}
{#  <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo"><i class="bi bi-pencil icon-margin"></i>modify</button>#}
{#</div></td>#}
{#    </tr>#}
{#    <tr>#}
{#      <th scope="row">2</th>#}
{#      <td>Jacob</td>#}
{#      <td>Thornton</td>#}
{#		<td>UCD@</td>#}
{#        <td><div class="btn-group" role="group" aria-label="Basic example">#}
{#  <button type="button" class="btn btn-secondary"><i class="bi bi-x-square icon-margin"></i>delete</button>#}
{#            <button type="button" class="btn btn-secondary disabled" onclick="{{  }}"><i class="bi bi-x-square icon-margin"></i>Leave</button>#}
{#  <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo"><i class="bi bi-pencil icon-margin"></i>modify</button>#}
{#</div></td>#}
{#	  </tr>#}
{#		<tr>#}
{#      <th scope="row">3</th>#}
{#      <td>Larry</td>#}
{#      <td>the Bird</td>#}
{#       <td><div class="btn-group" role="group" aria-label="Basic example">#}
{#  <button type="button" class="btn btn-secondary"><i class="bi bi-x-square icon-margin"></i>delete</button>#}
{#  <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo"><i class="bi bi-pencil icon-margin"></i>modify</button>#}
{#</div></td>#}
{#    </tr>#}
{#<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">#}
{#  <div class="modal-dialog">#}
{#    <div class="modal-content">#}
{#      <div class="modal-header">#}
{#        <h5 class="modal-title" id="exampleModalLabel">Modified Information</h5>#}
{#        <button type="button" class="close" data-dismiss="modal" aria-label="Close">#}
{#          <span aria-hidden="true">&times;</span>#}
{#        </button>#}
{#      </div>#}
{#      <div class="modal-body">#}
{#        <form id="myForm" action="{{ url_for('dormAdmin.add_stu') }}" method="post">#}
{#          <div class="form-group">#}
{#            <label for="recipient-name" class="col-form-label">Student ID:</label>#}
{#            <input type="text" class="form-control" name="stu_ID">#}
{#          </div>#}
{#          <div class="form-group">#}
{#            <label for="message-text" class="col-form-label">Name:</label>#}
{#             <input type="text" class="form-control" name="name">#}
{#          </div>#}
{#			<div class="form-group">#}
{#            <label for="message-text" class="col-form-label">Room:</label>#}
{#             <input type="text" class="form-control" name="room">#}
{#          </div>#}
{#			<div class="form-group">#}
{#            <label for="message-text" class="col-form-label">Phone:</label>#}
{#             <input type="text" class="form-control" name="phone">#}
{#          </div>#}
{#			<div class="form-group">#}
{#            <label for="message-text" class="col-form-label">Email:</label>#}
{#             <input type="text" class="form-control" name="email">#}
{#          </div>#}
{#        </form>#}
{#      </div>#}
{#      <div class="modal-footer">#}
{#        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>#}
{#        <button type="button" class="btn btn-primary" id="sendMessage">Confirm</button>#}
{#      </div>#}
{#    </div>#}
{#  </div>#}
{#</div>#}
  </tbody>
</table>
{#    <nav aria-label="Page navigation ">#}
{#  <ul class="pagination">#}
{#    <li {% if not pagination.has_prev %}#}
{#    class="page-item disabled"#}
{#    {% endif %}>#}
{#        {% if enterType=="home" %}#}
{#       <a class="page-link" href="{{url_for('main.home_dorm_admin_gue')}}?page={{ pagination.prev_num }}" tabindex="-1" aria-disabled="true">Previous</a>#}
{#        {% elif enterType=="search" %}#}
{#       <a class="page-link" href="{{url_for('dormAdmin.search_gue')}}?page={{ pagination.prev_num }}&content={{ content }}&tag={{ tag }}" tabindex="-1" aria-disabled="true">Previous</a>#}
{#        {% endif %}#}
{##}
{#    </li>#}
{#      {% for pagenum in range(1,pagination.pages + 1) %}#}
{#    <li {% if pagination.page==pagenum %} class="active page-item" {% endif %} aria-current="page">#}
{#    <a class="page-link" {% if enterType == "home" %}#}
{#         href="{{url_for('main.home_dorm_admin_gue')}}?page={{ pagenum }}"#}
{#    {% elif enterType == "search" %}#}
{#           href="{{url_for('dormAdmin.search_gue')}}?page={{ pagenum }}&content={{ content }}&tag={{ tag }}"#}
{#    {% endif %} >{{pagenum}}</a>#}
{##}
{#    </li>#}
{#    {% endfor %}#}
{##}
{##}
{#        <li {% if not pagination.has_next %}#}
{#    class="page-item disabled"#}
{#    {% endif %}>#}
{#        {% if enterType=="home" %}#}
{#       <a class="page-link" href="{{url_for('main.home_dorm_admin_gue')}}?page={{ pagination.next_num }}" tabindex="-1" aria-disabled="true">Next</a>#}
{#        {% elif enterType=="search" %}#}
{#       <a class="page-link" href="{{url_for('dormAdmin.search_gue')}}?page={{ pagination.next_num }}&content={{ content }}&tag={{ tag }}" tabindex="-1" aria-disabled="true">Next</a>#}
{#        {% endif %}#}
{##}
{#    </li>#}
{#  </ul>#}
{#</nav>#}
    <nav aria-label="Page navigation ">
  <ul class="pagination">
    <li {% if not pagination.has_prev %}
    class="page-item disabled"
    {% endif %}>
        {% if enterType=="home" %}
       <a class="page-link" href="{{url_for('main.home_dorm_admin_gue')}}?page={{ pagination.prev_num }}" tabindex="-1" aria-disabled="true">Previous</a>
        {% elif enterType=="search" %}
       <a class="page-link" href="{{url_for('dormAdmin.search_gue')}}?page={{ pagination.prev_num }}&content={{ content }}&tag={{ tag }}" tabindex="-1" aria-disabled="true">Previous</a>
        {% endif %}

    </li>
{% if pagination.page >= 10 %}
  <li {% if not pagination.has_prev %}
    class="page-item disabled"
    {% endif %}>
        {% if enterType=="home" %}
       <a class="page-link" href="{{url_for('main.home_dorm_admin_gue')}}?page=1" tabindex="-1" aria-disabled="true">1</a>
        {% elif enterType=="search" %}
       <a class="page-link" href="{{url_for('dormAdmin.search_gue')}}?page=1&content={{ content }}&tag={{ tag }}" tabindex="-1" aria-disabled="true">1</a>
        {% endif %}

    </li>
  {% endif %}

  {% if pagination.page >= 10 %}
  <li
    class="page-item disabled">
      <a class="page-link">...</a>
    </li>
  {% endif %}

      {% for pagenum in range( pagination.page - pagination.page % 10,(pagination.page - pagination.page % 10) + 10)%}
    <li {% if pagination.page==pagenum %} class="active page-item" {% endif %} aria-current="page">
    {% if pagenum != 0 and pagenum <= pagination.pages %}
      <a class="page-link" {% if enterType == "home" %}
         href="{{url_for('main.home_dorm_admin_gue')}}?page={{ pagenum }}"
    {% elif enterType == "search" %}
           href="{{url_for('dormAdmin.search_gue')}}?page={{ pagenum }}&content={{ content }}&tag={{ tag }}"
    {% endif %} >{{pagenum}}</a>
      {% endif %}


    </li>
    {% endfor %}
     {% if pagination.pages >= pagination.page - pagination.page % 10 + 10 %}
  <li
    class="page-item disabled">
      <a class="page-link">...</a>
    </li>

  {% endif %}
 {% if pagination.pages >= pagination.page - pagination.page % 10 + 10 %}
        <li {% if not pagination.has_next %}
    class="page-item disabled"
    {% endif %}>
        {% if enterType=="home" %}
       <a class="page-link" href="{{url_for('main.home_dorm_admin_gue')}}?page={{ pagination.pages }}" tabindex="-1" aria-disabled="true">{{pagination.pages}}</a>
        {% elif enterType=="search" %}
       <a class="page-link" href="{{url_for('dormAdmin.search_gue')}}?page={{ pagination.pages }}&content={{ content }}&tag={{ tag }}" tabindex="-1" aria-disabled="true">{{pagination.pages}}</a>
        {% endif %}

    </li>
  {% endif %}
        <li {% if not pagination.has_next %}
    class="page-item disabled"
    {% endif %}>
        {% if enterType=="home" %}
       <a class="page-link" href="{{url_for('main.home_dorm_admin_gue')}}?page={{ pagination.next_num }}" tabindex="-1" aria-disabled="true">Next</a>
        {% elif enterType=="search" %}
       <a class="page-link" href="{{url_for('dormAdmin.search_gue')}}?page={{ pagination.next_num }}&content={{ content }}&tag={{ tag }}" tabindex="-1" aria-disabled="true">Next</a>
        {% endif %}

    </li>
  </ul>
</nav>
    </div>
{% endblock %}

{% block js %}
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="../../static/js/search.js"></script>
    <script src="../../static/js/dormExamine.js"></script>
<script>
    $('#sendMessage').click(function(){
let id = $('#gue_stu_id').val();
let phone = $('#gue_phone').val();
let guset_name = $('#gue_name').val();
        $.get('dormAdmin/dormCheckGueStuidAdd',{id:id,phone:phone,gue_name:guset_name}, function (data) {
            // console.log(data)
            if(data.code !== 200){
                alert("Failed to Add\n"+data.msg)
            }else {
                alert("Add Successfully")
            }
        });

	document.getElementById("myFormAdd").submit();
});
    {% for guest in pagination.items %}
    $('#sendMessagemodify{{ guest.id }}').click(function(){
        let stu_id = $('#gue_stu_id{{ guest.id }}').val();
        $.get('dormAdmin/dormCheckGueStuid', {id: stu_id}, function (data) {
            // console.log(data)
            if(data.code !== 200){
                alert("Failed to Modified\n"+data.msg)
            }else{
                alert("Modified Successfully")
            }
        });

	document.getElementById("myFormModify{{ guest.id }}").submit();
});

    {% endfor %}
    {% for guest in pagination.items %}
$('#gue_stu_id{{ guest.id }}').blur(function () {
    let stu_id = $(this).val();
    let span_ele = $(this).next('span');
        span_ele.text('');
        $.get('dormAdmin/dormCheckGueStuid', {id: stu_id}, function (data) {
            // console.log(data)
            if(data.code !== 200){
                span_ele.css({"color": "#ff0011","font-size":"12px"});
                span_ele.text(data.msg);
            }
        })
});
    {% endfor %}

</script>
{% endblock %}