{% extends "samples/dormBase.html" %}

{% block mainContent %}
<div class="container">
<div class="my-3 p-3 bg-white rounded shadow-sm ">
    <h6 class="border-bottom border-gray pb-2 mb-0">Recent updates</h6>

     {% for repair in repair_list %}
      <div class="media text-muted pt-3 border-bottom border-gray">
      <svg class="bd-placeholder-img mr-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 32x32" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#007bff"/><text x="50%" y="50%" fill="#007bff" dy=".3em">32x32</text></svg>

      <p class="media-body pb-3 mb-0 small lh-125 col-11">
        <strong class="d-block text-gray-dark">@{{ repair.student.stu_name }}</strong>
          {{ repair.date}} by <a href="#">{{ repair.student.stu_name }}</a> from {{repair.student.room_number}}
      </p>
        <p class="media-body pb-3 mb-0 small lh-125 col-1 align-content-lg-center">
               <a href="{{ url_for('dormAdmin.message_details') }}?message_type=complain&repair_id={{ repair.id }}" class="card-link">More</a>
      </p>
    </div>
    {% endfor %}
  </div>
  </div>
{% endblock %}

