{% extends 'samples/dormBase.html' %}

{% block mainContent %}
  <div class="b-example-divider"></div>

  <div class="container px-4 py-5" id="hanging-icons">
    <h2 class="pb-2 border-bottom">Lost And Found</h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
      <div class="col d-flex align-items-start">
        <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
    </div>
        <div>
          <h2>Found</h2>
          <p>In this page, you can find founded things posted by students</p>
          <a href="{{ url_for('dormAdmin.lost_and_found_found') }}" class="btn btn-primary">
            Have a Look
          </a>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
        </div>
        <div>
          <h2>Lost</h2>
          <p>In this page, you can find lost things posted by students</p>
          <a href="{{ url_for('dormAdmin.lost_and_found_lost') }}" class="btn btn-primary">
            Have a Look
          </a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}