<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Majestic Admin</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="../../static/vendors/mdi/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="../../static/vendors/base/vendor.bundle.base.css">
  <!-- endinject -->
  <!-- plugin css for this page -->
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="../../static/css/index.css">
  <!-- endinject -->
  <link rel="shortcut icon" href="../../static/images/favicon.png" >
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <style>
	      body{ text-align:center} 
    #divcss5{
		margin: auto;
		margin-top: 100px;
		border:1px solid #000;width:1000px;height:300px} 
	</style>
</head>

<body background="../../static/images/auth/background.jpg">
	<h1 class="indexTitle">Welcome to BJUT Dormitory System!</h1>
	<h2>Who are you?</h2>
	<div class="btnSection" id = "divcss5">
                  <button type= "button" class="btn btn-phone student" value="student" name="identification" id="student">
                    <i class="mdi mdi-cursor-default-outline "></i>Student
					</button>
                  <button type="button" class="btn btn-phone DA" value="domitoryAdmin" name="identification" id="dormintoryAdmin">
                    <i class="mdi mdi-cursor-default-outline mr-2"></i>Dormitory Administrator
                  </button>
				 <button type="button" class="btn btn-phone mr-7" value="systemAdmin" name="identification" id ="systemAdmin">
                    <i class="mdi mdi-cursor-default-outline mr-2"></i>System Administrator
                  </button>
    </div>
	 <script src="../../static/js/skip.js"></script>
</body>
</html>
