<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Majestic Admin</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="../../static/vendors/mdi/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="../../static/vendors/base/vendor.bundle.base.css">
  <!-- endinject -->
  <!-- plugin css for this page -->
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="../../static/css/register.css">
  <!-- endinject -->
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
</head>

<body>
  <div class="containerScoller">
    <div class="containerFluid pageBodWrapper fullPageWrapper">
      <div class="contentWrapper d-flex alignItemsStretch auth authImgBg">
        <div class="row flexGrow">
          <div class="colLg6 d-flex alignItemCenter justifyContentCenter">
            <div class="authFormTransparent textLeft p3">
              <div class="brandLogo">
                <img src="../../static/images/auth/index.png" alt="logo">
              </div>
              <h4>New to BJUT Management System?</h4>
              <h6 class="fontWeightLight">Join us today! It takes only few steps</h6>
              <form action='{{ url_for('auth.register') }}' method="post">
                  <div class="formGroup">
                  <label>UserID</label>
                  <div class="inputGroup">
                    <div class="inputGroupPrepend bgTransparent">
                      <span class="inputGroupText bgTransparent borderRight0">
                        <i class="mdi mdi-account-outline textPrimary textColor"></i>
                      </span>
                    </div>
				 <input type="text" class="formControl formControlLg borderLeft0" placeholder="UserID" name="stu_wor_id" id="registerID"><span ></span>
					</div>
                </div>
                <div class="formGroup">
                  <label>Username</label>
                  <div class="inputGroup">
                    <div class="inputGroupPrepend bgTransparent">
                      <span class="inputGroupText bgTransparent borderRight0">
                        <i class="mdi mdi-account-outline textPrimary textColor"></i>
                      </span>
                    </div>
				 <input type="text" class="formControl formControlLg borderLeft0" placeholder="Username" name="username" id="registerUser"><span></span>
					</div>
                </div>
                <div class="formGroup">
                  <label>Email</label>
                  <div class="inputGroup">
                    <div class="inputGroupPrepend bgTransparent">
                      <span class="inputGroupText bgTransparent borderRight0">
                        <i class="mdi mdi-email-outline textPrimary textColor"></i>
                      </span>
                    </div>
                    <input type="email" class="formControl formControlLg borderLeft0" placeholder="Email" name="email" id="registerEmail"><span></span>
                  </div>
                </div>
               <div class="formGroup">
                  <label>Phone</label>
                  <div class="inputGroup">
                    <div class="inputGroupPrepend bgTransparent">
                      <span class="inputGroupText bgTransparent borderRight0">
                        <i class="mdi mdi-phone textPrimary textColor"></i>
                      </span>
                    </div>
                    <input type="text" class="formControl formControlLg borderLeft0" placeholder="Phone" name="phone" id="registerPhone"><span></span>
                  </div>
                </div>
                <div class="formGroup">
                  <label>Password</label>
                  <div class="inputGroup">
                    <div class="inputGroupPrepend bgTransparent">
                      <span class="inputGroupText bgTransparent borderRight0">
                        <i class="mdi mdi-lock-outline textPrimary textColor"></i>
                      </span>
                    </div>
                    <input type="password" class="formControl formControlLg borderLeft0" placeholder="Password" name="password" id="registerPassword"><span></span>
                  </div>
                </div>
				  <div class="formGroup">
                  <label>Confirm Password</label>
                  <div class="inputGroup">
                    <div class="inputGroupPrepend bgTransparent">
                      <span class="inputGroupText bgTransparent borderRight0">
                        <i class="mdi mdi-lock-outline textPrimary textColor"></i>
                      </span>
                    </div>
                    <input type="password" class="formControl formControlLg borderLeft0" placeholder="Confirm Password" name="password2" id="registerCPassword"><span></span>
                  </div>
                </div>
                <div class="mt-3">
                  <input type="submit" class="btn btnBlock btnPrimary btnLg fontWeightMedium authFormBtn" value="SIGN UP" id="signUp">
                </div>
                <div class="textCenter mt4 fontWeightLight">
                  Already have an account? <a href="{{ url_for('auth.login') }}?identification={{ role_id }}" class="textPrimary">Login</a>

                </div>
              </form>
            </div>
          </div>
         
        </div>
      </div>
      <!-- content-wrapper ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->
  <!-- plugins:js -->
  <script src="../../static/js/examine.js"></script>
  <!-- endinject -->
  <!-- inject:js -->

</body>

</html>
