{% extends "samples/studentBase.html" %}
{% block title %}
<title>Complians</title>
{% endblock %}

{% block add %}
     <button type="button" class="btn btn-dark btn-margin" data-toggle="modal" data-target="#exampleModaladd" data-whatever="@mdo"><i class="bi bi-plus-circle"></i></button>

<div class="modal fade" id="exampleModaladd" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Complian Form</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="myFormAdd" action="{{ url_for('student.add_complain') }}" method="post">
            <div class="form-group">
    <label for="exampleFormControlTextarea1">Detail</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="detail"></textarea>
  </div>

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary"   id="sendMessage"
{#                {% if isSuccessful==True %}#}
{#         data-toggle="modal" data-target="#alert"#}
{#        {% endif %}#}
        >Confirm</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block mainContent %}
    <h1>Complians Record</h1>
<table style="table-layout:fixed"   class="table table-bordered">
    <thead class="thead-dark">
    <tr>
      <th scope="col" class="center" style='width:20%;'>Post Date</th>
      <th scope="col" class="center" style='width:60%;'>Details</th>
      <th scope="col" class="center" style='width:20%;'>Actions</th>
    </tr>
  </thead>
  <tbody>
  {% for complain in pagination.items %}
   <tr>
      <th scope="row">{{complain.time.strftime("%Y-%m-%d")}}</th>
      <td style="overflow:hidden;white-space:nowrap;text-overflow:ellipsis;">{{ complain.detail }}</td>
      <td> <a href="{{ url_for('student.message_details') }}?message_type=complain&complain_id={{ complain.id }}" class="card-link">More</a></td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}

{% block js %}
    <script>
        $('#sendMessage').click(function() {
            	document.getElementById("myFormAdd").submit();

        });
    </script>
{% endblock %}